# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
#
name: Debugging

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          # chartpress requires the full history
          fetch-depth: 0
      
      - name: debugging
        run: |
          echo "debugging purpose only..."
          echo "GITHUB_ACTOR: $GITHUB_ACTOR"
          echo "env.GITHUB_ACTOR: ${{ env.GITHUB_ACTOR }}"
          echo "GITHUB_TOKEN: $GITHUB_TOKEN"
          echo "env.GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}"
          echo "PASSED_GITHUB_ACTOR: $PASSED_GITHUB_ACTOR"

          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

          echo "2" >> test.file
          git commit -am "dummy commit 2"
          git push https://$GITHUB_TOKEN@github.com/consideRatio/zero-to-jupyterhub-k8s.git master

          echo "3" >> test.file
          git commit -am "dummy commit 3"
          git push https://github.com/consideRatio/zero-to-jupyterhub-k8s.git master

          echo "4" >> test.file
          git commit -am "dummy commit 4"
          git push https://asdiufisdfkjwnewc@github.com/consideRatio/zero-to-jupyterhub-k8s.git master

          echo "5" >> test.file
          git commit -am "dummy commit 5"
          git push origin master
        env:
          PASSED_GITHUB_ACTOR: "${{ env.GITHUB_ACTOR }}:${{ secrets.GITHUB_TOKEN }}"
